<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <div id="tech">
    </div>
    <div id="customer">

    </div>
  </section>
  </body>
</html>
