<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <div id="tech">
        <img src="images/techIcon.svg" class="techIcon">
        <% if (user) { %>
          <a href="/logout">Log Out</a>
      <% } else { %>
          <a href="/auth/google"><img src="images/lock.png" class='lock'>Login with Google</a>
      <% } %>
    </div>
    <div id="customer">
        <img src="images/name.svg" class="icon">
        <% if (user) { %>
          <a href="/logout">Log Out <% user.name %></a>
      <% } else { %>
          <a href="/auth/google"> <img src="images/lock.png" class='lock'>Login with Google</a>
      <% } %>
    </div>
  </section>
  </body>
</html>
