<%- include('../partials/header') %>
<div class="clockPage">
<h1>00:00</h1>
<div class="clock">
    <% if (user) {%>
        <button id="clockOut">Clock Out</button>
     <% } else { %>
        <button id="clockIn">Clock In</button>
    <% } %>
           
</div>
</div>