<%- include('../partials/header') %>
<body>
    <section class="techs">
       <div class="tickets"><img src="images/assignment.svg" alt="" class="assignment"><a href="tech/tickets" class="tickets"></a></div>
        <div class="other"><img src="images/assignment.svg" alt="" class="assignment"><a href=""></a></div>
</section>
</body>