<%- include('../partials/header') %>
<body>
    <section class="techs">
       <div class="tickets"><img src="images/assignment.svg" alt="" class="assignment"><p class="tickets">View All Pending <br> Tickets for the Day</p><a href="tech/tickets" class="tickets">Tickets</a></div>
        <div class="other"><img src="images/assignment.svg" alt="" class="assignment"><p class="tickets">View All Pending <br> Tickets for the Day</p><a href="tech/clock" class="other">Time Clock</a></div>
</section>
</body>