body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eae7dc;
}

a {
  color: black;
  text-decoration: none;
  height: 20px;
  width: 50%;
  text-align: center;
  align-self: end;
  justify-self: center;
  margin-bottom: 20px;
  font-size: 20px;
}

a:hover {
  color: white;
}

nav {
  display: grid;
  background-color: #7ec0ec;
  height: 70px;
  width: 100%;
  margin-bottom: 0px;
  grid-template-columns: 10vmin 40vmin auto 15vmin 15vmin 15vmin;
  border-radius: 20px;
}

img {
  display: grid;
  width: 60px;
  height: 45px;
  align-self: center;
  justify-self: center;
  grid-column-start: 1;
}

h3 {
  display: grid;
  grid-column-start: 2;
  align-self: center;
  font-size: 23px;
}

section {
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 400px 200px;
  grid-row-start: 2;
  grid-column-gap: 25px;
  margin-top: 25px;
}

div #tech {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  align-items: center;
  justify-items: center;
}

div #customer {
  display: grid;
  grid-column-start: 2;
  grid-row-end: 3;
}

div {
  display: grid;
  grid-row-start: 2;
  /* border: 6px solid #E85A4F; */
  border-radius: 25px;
  background-color: #7ec0ec;
}

img.lock {
  padding-top: 4px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

img.icon {
justify-self: center;
width: 200px;
height: 200px;
}

img.techIcon {
  justify-self: center;
  width: 200px;
  height: 200px;
  }